*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	text-align: center;
}
button {
	/*
	border: 1px solid black;
	background: none;
	*/
	border-radius: 23px;
}
h1 {
	font-size: 70px;
}
h3 {
	font-size: 10px;
	text-align: center;
}
h4 {
	font-size: 70px;
	text-align: center;
}
.bo {
	font-weight: bold;
}
.nu {
	font-size: 70px;
	text-align: center;
}
.bg-pink {
	background: #ebe2e5;
}
.bg-pink-dark {
	background: #d48682;
	margin-right: 0em;
}
.bg-creme {
	background: #e9d5bc;
}
.bg-creme-ligth {
	background: #f5eee8;
}
.b1 {
	border-radius: 23px;
}
.c0 {
	width: 100%;
}
.c1 {
	margin: 0 auto;
	padding-right: 0em;
	padding-left: 0em;
	padding-right: 0em;
}
.c2 {
	padding-right: 0em;
}
.c3 {
	padding-top: 3em;
}
.c6 {
	background-image: url("../images/libros.jpg");
}
.c7 {
	padding-top: 5em;
}
.s1 {
	padding-right: 0em;
}
.S2 {
	padding-top: 5em;
}
.S3 {
	padding-top: 0em;
	padding-left: 0em;
}
.i1 {
	background-image: url("../images/persona1-bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

	/*width: 100%;
	*/
	height: 100%;
}
.i2 {
	background-image: url("../images/persona1-recortada.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*width: 100%;
	*/
	height: 97vh;
}
.i3 {
	background-image: url("../images/libros-bg2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*width: 100%;
	*/
	height: 100vh;
}
.i-logo {
	width: 100%;
}
.i-imagen2 {
	width: 100%;
	height: 100%;
}
.r2 {
	margin-top: 5em;
}
/*div.row>div.col*/
.p-script {
	font-family: "Clicker Script", cursive;
	font-size: 70px;
}
.t2 {
	font-size: 40px;
}
.t3 {
	font-size: 20px;
}
